[class^="grid-child"]{
    background-color: #a5572a;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.grid-parent-lineas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    height: 80vh;
}
.grid-child-1{
    background-color: #4fc5c9;
    grid-column: 1 / 3;
    grid-row: 1 ;
}
.grid-child-2{
    background-color: black;
    color: cornsilk;
    grid-column: 2;
    grid-row: 2 / 4;
}
.grid-child-3{
    background-color: blueviolet;
    color: cornsilk;
    grid-column: 1;
    grid-row: 2 / 5 ;
}
.grid-child-4{
    background-color: #83ffff;
}
.grid-child-5{
    background-color: #ebe483;
    grid-column: 1 / 3;
    grid-row: 5;
}