*{
    margin: 0;
    color: #ffffff;
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    padding: 10px 10%;
}
.main-header{
    background-color: coral;
}
.navbar{
    background-color: #333232;
}
.navbar ul{
    padding: 0;
    list-style: none;
}
.navbar a{
    text-decoration: none;
    font-size: 1.2em;
}
.hero{
    background-image: url(https://images.pexels.com/photos/2471234/pexels-photo-2471234.jpeg?cs=srgb&dl=pexels-luis-quintero-2471234.jpg&fm=jpg);
    background-size: cover;
}
.hero h1{
    margin: 70px 0px;

    font-size: 2.5em;
    text-align: center;
    line-height: 1.6em;
}
.description h3 {
    margin: 1em 0;
    color: #363636;
}
.description p{
    line-height: 1.5em;
    color: #333232;
}
.side-text{
    line-height: 1.5em;
    background-color: #333232;
    margin: 1em 0;
}
.footer{
    background-color: #333232;
    padding: 2em;
    text-align: center;
}
@media only screen and (min-width:768px) {
    .navbar li{
        display: inline;
        margin-right: 1em;
    }
    .description{
        display: inline-block;
        width: 60%;
        padding-right: 2em;
    }
    .side-section{
        display: inline-block;
        width: 30%;

        padding: 0;
        padding-right: 9%;
    }
}